<footer class="site-footer">
	<section class="col-sm-8 col-md-4 col-lg-5 contact">
	  <div class="social">
	    <a href="http://twitter.com/davidpowellme"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	    <a href="http://github.com/davidpowellme"><i class="fa fa-github" aria-hidden="true"></i></a>
	    <a href="http://linkedin.com/davidpowellnsh"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
	    </a>
	    <a href="http://dribbble.com/davidpowellme"><i class="fa fa-dribbble" aria-hidden="true"></i>
	    </a>
	  </div>
	  <div>
	    <a href="mailto:davidpowelldesign@gmail.com">davidpowelldesign@gmail.com</a>
	  </div>
	</section>
</footer>

<script>
	//MOBILE MENU

	function menu(){
		if( $(window).width() >= 900){
			$('.main-nav').css('display', 'block');
			} else {
				$('.main-nav').css('display', 'none');
			}
		} 

	$('.m-toggle').click(function(e){
		e.preventDefault();
		$('.main-nav').slideToggle(500);
	});


	menu();

	$(window).resize(function(){
		menu();
	});

	//SMOOTH SCROLL

		$('a[href^="#top"]').on('click',function (e) {
		    e.preventDefault();

		    var target = this.hash;
		    var $target = $(target);

		    $('html, body').stop().animate({
		        'scrollTop': $target.offset().top
		    }, 900, 'swing', function () {
		        window.location.hash = target;
		        console.log(target);
		    });
		});
		$('a[href^="#draftly"]').on('click',function (e) {
		    e.preventDefault();

		    var target = this.hash;
		    var $target = $(target);

		    $('html, body').stop().animate({
		        'scrollTop': $target.offset().top
		    }, 900, 'swing', function () {
		        window.location.hash = target;
		        console.log(target);
		    });
		});
		$('a[href^="#team"]').on('click',function (e) {
		    e.preventDefault();

		    var target = this.hash;
		    var $target = $(target);

		    $('html, body').stop().animate({
		        'scrollTop': $target.offset().top
		    }, 900, 'swing', function () {
		        window.location.hash = target;
		        console.log(target);
		    });
		});
		$('a[href^="#zen"]').on('click',function (e) {
		    e.preventDefault();

		    var target = this.hash;
		    var $target = $(target);

		    $('html, body').stop().animate({
		        'scrollTop': $target.offset().top
		    }, 900, 'swing', function () {
		        window.location.hash = target;
		        console.log(target);
		    });
		});
		$('a[href^="#linked"]').on('click',function (e) {
		    e.preventDefault();

		    var target = this.hash;
		    var $target = $(target);

		    $('html, body').stop().animate({
		        'scrollTop': $target.offset().top
		    }, 900, 'swing', function () {
		        window.location.hash = target;
		        console.log(target);
		    });
		});
		$('a[href^="#regal"]').on('click',function (e) {
		    e.preventDefault();

		    var target = this.hash;
		    var $target = $(target);

		    $('html, body').stop().animate({
		        'scrollTop': $target.offset().top
		    }, 900, 'swing', function () {
		        window.location.hash = target;
		        console.log(target);
		    });
		});
</script>
