body {
	font-family: $font-body;
	overflow:hidden;
}

.wrapper {
	overflow: hidden;
}

.home {
	background: $color-dark-primary;
}


@media (min-width: 900px) {
	.photo {
		background: url(../images/david-photo.jpg) 0 0 no-repeat;
		width: 100%;
		height: 100vh;
	}
}