    * {
    box-sizing: border-box;
}

body {
    color: $color-dark-secondary;
    font-family: $font-body;
}

img {
    max-width: 100%;
}

h1 {
    color: $color-light-primary;
    font-family: $font-body;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
.blog h2 {color: $color-dark-secondary;}

p {
    font-family: $font-body;
    font-size: 1.25rem;
    margin: 1em auto;
    max-width: 600px;
}

a {
    color: inherit;
    text-decoration: underline;

    &:hover {
        color: lighten($color-dark-secondary, 20%);
    }
}


.wrapper {
    overflow: hidden;
}


.button {
	border: 2px solid $color-light-primary;
	border-radius: 3px;
	color: $color-light-primary;
	font-size: 1.25rem;
	font-weight: 600;
	padding: 1rem 2rem;
	text-decoration:none;

	&:hover {
		background: $color-light-primary;
		color: $color-dark-secondary;
	}
}

.front {
    background: $color-dark-primary;
    overflow: hidden;
    .site-footer {
        background: transparent;
        position: absolute;
        bottom: 0; left: 0; right: 0;
    }
    .page-content {
        margin: 1rem 0 4.5rem 0;
    }
}

.right-fix {
    display: none;
}

.hero-text {
    color: $color-light-primary;
    font-size: 2em;
    font-weight: 600;
    padding: 2rem;
}

.lightning:after {
    content: " ";
    background: url(../images/lightning-69.png);
    background-size: cover;
    display: block;
    float: right;
    height: 50px;
    width: 50px;
}

.post {
    padding: 2em 0;
    max-width: 600px;
    margin: 0 auto;
    width: 90%;
}

.case-wrapper {
	margin: 0 auto;
	max-width: 700px;
	padding: 2rem 0 12rem 0;
	width: 80%;

	h1 {
		color: $color-dark-secondary;
	}
	section {
		overflow: hidden;
		padding: 1rem 0;
	}

	& > div {
		margin: 0 auto;
		padding-top: 2rem;
		width: 15rem;
	}
	.button {
		border: 2px solid $color-dark-primary;
		color: $color-dark-primary;
		margin: 0 auto;
		
		&:hover {
			background: $color-dark-primary;
			color: $color-light-primary;
		}
	}
}

.project-nav {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 25%;; right: 10%;
    width: 10%;

    & > div {
        margin: 0 0 1.5em 0;
        opacity: 0.75;
        overflow: hidden;

        &:hover {opacity: 1;}

        div:first-child {
            border: 2px solid $color-light-primary;
            border-radius: 50%;
            float: left;
            height: 25px;
            width: 25px;
        }
        div:last-child {
            display: none;
        }
    }
}

.project-nav > div.active {
    opacity: 1;

    div:first-child {background-color: $color-light-primary;}
}

/*
MOBILE PROJECT NAVIGATION
=========================
*/

.summary .mobile-pr-navigation a div {
    color: $color-light-primary;
}

.mobile-pr-navigation {
    margin: 0 auto;
    text-align: center;
    width: 100px;

    a {
        text-decoration: none;
        color: #fff !important;
    }
}

.prev {
    margin-top: 1.5rem;
}

@media (min-width: 650px) {
    .project-nav {
        display: block;
        right: 2%;
        width: 25%;

        div {
        
        div:first-child {margin-right: 0.5em}
        div:last-child {
            color: $color-light-primary;
            display: block;
            float: left;
            padding: 0.15em 0 0 0;
        }
    }
    }
    .mobile-pr-navigation {display:none;}
}

.summary {
    background: $color-dark-primary;
    height: 100vh;
    overflow: hidden;
        &:nth-child(2) {
            background: url(../images/journal.jpg) 0 0 no-repeat;
            background-size: cover;
        }
    	&:nth-child(3) {
        	background: url(../images/playball.jpg) 0 0 no-repeat;
        	background-size: cover;
		}
        &:nth-child(4) {
            background: url(../images/professional.jpg) 0 0 no-repeat;
            background-size: cover;
        }
        &:nth-child(5) {
            background: url(../images/tomatoes.jpg) 0 0 no-repeat;
            background-size: cover;
        }
        &:nth-child(6) {
            background: url(../images/clock.jpg) 0 0 no-repeat;
            background-size: cover;
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
        	position: relative;

            &:before {
                content: "";
                display: block;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-color: rgba(0, 0, 0, .5);
            }
            .project-wrapper {
                position: relative;
                z-index: 1;
            }
        }
    }
    .project-wrapper {
        color: $color-light-primary;
        padding: 2rem 0 4.5rem 2rem;
        h1 {
            display: inline-block;
        }
        p {
        	max-width: 600px;
        	padding-right: 2rem;
        }
        div {
        	margin-top: 5rem;
        }
    }
	.blog-wrapper {
		overflow: hidden;
		padding-bottom: 6rem;
	}
    .blog {
    	color: $color-dark-secondary;
        padding: 4rem 2rem 4rem 2rem;
        h1 {
        	color: $color-dark-secondary;
            display: block;
            float: left;
            overflow: hidden;
        }
        p {
            clear: both;
        	max-width: 600px;
        }
        div {
        	margin-top: 5rem;
        }
    }

    .post {
    	padding: 2rem 0 6rem 0;
    } 

    .post-list li {
    	list-style: none;

    	.post-link {
    		font-size: 2rem;
    		text-decoration: none;
    	}
    }
    .post-content {
    	margin: 0 auto;
    }
    .post-header {
    	margin: 0 auto;
    	max-width: 700px;

    	h1 {
    		color: $color-dark-secondary;
    	}
    }

.hire-me {
	background: $color-dark-primary;
	overflow: hidden;
	padding: 1rem 0 6rem 0;
}
.contact-wrapper {
	color: $color-light-primary;
	padding: 4rem 2rem 2rem 2rem;

	h1 {
            display: inline-block;
        }
        p {
        	max-width: 600px;
        	padding-right: 2rem;
        }
        div {
        	margin-top: 5rem;
        }
}

.testimonials {
    padding: 0 2em;
    
    .quote {text-align: right;}
}

.form-wrapper {
	margin: 0 auto;
	width: 80%;
}
form {
	margin: 0 auto;
	max-width: 600px;

	p {
		color: $color-light-primary;
	}
}
input {

}
input,
textarea {
	background: transparent;
	border: 3px solid $color-light-primary;
	color: $color-light-primary;
	padding: 0.5rem;
	width: 100%;
}

.submit {
	float: right;
	margin: 1rem 0;
	width: 9rem;
}
    @media (min-width: 650px) {
        .hero-text {
            font-size: 3.5em;
            padding-left: 2rem;
        }

        .project-wrapper,
        .blog {
        	padding: 4rem 0 15rem 4rem;
        }

        .post-list {
    		padding: 8rem 0 0 4rem;
    	}
    	.contact-wrapper {
    		padding-left: 4rem;
    	}
    }
    @media (min-width: 900px) {

    	h1 {
    		font-size: 3.5rem;
    	}

        .lightning:after {
            height: 60px;
            margin-top: 5px;
            width: 60px;
        }
        .right-fix {
            display: block;
            height: 100vh;
            margin-right: 0;
        }
        .front {
            .page-content {
                padding: 1rem 2.5rem 4.5rem 2.5rem;
            }
            .site-footer {
                right: 42%;
            }
        }
        .photo {
            background: url(../images/david-photo.jpg) 0 0 no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
        }
        .form-wrapper {
        	padding: 3rem 0 0 0;
        }
        .contact-wrapper {
        	padding: 8rem 0 15rem 4rem;
        }
        .testimonials {padding-right: 4em;}
    }
