.site-header {
	background: $color-dark-primary;
	margin-top: -7px;
}

.logo {
	float: left;
	margin: 1rem 0 0 1rem;
	width: 80px;
}

.m-toggle {
	display: block;
	float: right;
	width: 20%;

	svg {
		cursor: pointer;
		fill: $color-light-primary;
		float: right;
		margin: 1.5em;
		width: 3em;

		line {stroke: $color-light-primary;}
	}
}

.main-nav {
	display: none;
	float: none;
	text-align: center;

	ul {
		border-top: 1px solid $color-light-primary;
		list-style: none;
		margin-top: 120px;
		overflow: hidden;
		padding: 1em 0 0 0;
		width: 100%;
	}

	li {
		float: left;
		margin: 0;
		width: 25%;
	}

	a {
		color: $color-light-primary;
		font-size: 1.2em;
		margin: 1em 0;
		text-decoration: none;
	}
}


@media (min-width: 900px) {
	.logo {
		margin: 1rem 0 0 3.5rem;
	}

	.m-toggle {
		svg {display:none;}
	}

	.main-nav {
		background: $color-dark-primary;
		display: block;
		float: left;
		margin-left: 1rem;
		padding: 1em 0;
		width: 70%;

		ul {
			border: none;
			background: $color-dark-primary;
			list-style: none;
			margin: 0;
		}

		li {
			display: inline-block;
			margin: 0.75rem 2rem 0 0;
			width: auto;


			a {
				border-bottom: 2px solid $color-dark-primary;
				color: $color-light-primary;
				font-weight: 300;
				margin: 0;
				padding: 0 0 0.1em 0;
				text-decoration: none;
				text-transform: uppercase;

				&:hover {
					border-bottom: 2px solid $color-light-primary;	
				}
			}
			
			&:first-child {
				margin-left: 2em;
			}
			&:last-child {
				margin-right: 0;
			}
		}

	}
}